<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.instedd.geochat.lgw"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
      
    <application
    	android:icon="@drawable/icon"
    	android:label="@string/app_name"
    	android:debuggable="true"
    	>
    	
    	<provider android:name=".data.GeoChatLgwProvider"
            android:authorities="org.instedd.geochat.lgw.provider.GeoChatLGW"
        />
    	
        <activity
        	android:name=".LoginActivity" 
        	android:label="@string/app_name"
        	>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".HomeActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask"
                  />
                  
        <activity android:name=".IncomingMessagesActivity"
        		  android:label="@string/incoming"
        		  android:theme="@android:style/Theme.NoTitleBar" />
        		  
        <activity android:name=".OutgoingMessagesActivity"
        		  android:label="outgoing"
        		  android:theme="@android:style/Theme.NoTitleBar" />
        		  
        <activity android:name=".GeoChatLgwPreferences"
                  android:label="@string/geochat_lgw_settings"
                  />
        
        <service android:name=".trans.GeoChatTransceiverService"
            android:exported="true"/>
    </application>
</manifest> 